

    <div class="container">
        <h1>Bots</h1>
        <p>Bots are how custom behavior is added to a Task. Bots can do anything that code can do, from modifying the user interface to calling other services to modifying the database. A full list of the existing Bots and their capabilities can be found in the "Bot" Task at "polyapp / Bot / Bot". <a href="https://polyapp-public.appspot.com/polyappChangeData?industry=polyapp&domain=Bot&task=eoUIvRnzeFAwpWXRYUDAgCcsT&schema=veKWxEWtCEnCDLknytuUPzMHY&ux=wEuFHLqvricbzBxgfdWqwljjH">Public Polyapp link</a>. Relative link: <code>/polyappChangeData?industry=polyapp&domain=Bot&task=eoUIvRnzeFAwpWXRYUDAgCcsT&schema=veKWxEWtCEnCDLknytuUPzMHY&ux=wEuFHLqvricbzBxgfdWqwljjH</code></p>
        
        <h2>How Bots Work</h2>
        <p>Bots are composed of one or more Actions which are executed in sequence. The name of an Action is used to determine what code is run in <code>handlers/bot.go</code>. The code itself is typically located in the actions package. When actions execute there is nothing to stop them from doing something radical and dangerous like deleting everything in the database. In other words, the abilities and permissions of the executed code are unlimited, so you should never execute untrusted code.</p>
        
        <h2>Creating New Bots</h2>
        <p>Creating a new Bot by modifying Polyapp and adding a new file or function to the actions package is unnecessarily difficult. Instead, you should create a separate HTTP service which will be hosted on Google Cloud's App Engine (which is also how Polyapp is hosted). By giving this service the same IAM role as Polyapp itself you will retain access to all of the abilities of Polyapp in Google Cloud. You can also add the polyapp repository and one or more of its packages as a dependency for your program, giving you access to all of the capabilities you would have if you were to modify Polyapp's source code. Finally, by using the HTTPS Bot to call your service you will gain access to the same runtime information a Bot written in Polyapp has access to, and be able to affect the HTTPS response from Polyapp to the client in the same way.</p>
        
        <p>There are other benefits to this approach, including:</p>
        
        <ul>
            <li>You do not need to set up environment variables on your development machine which Polyapp needs to function properly.</li>
            <li>You can write and test the service independently of Polyapp.</li>
            <li>It is easy to version your depenency on Polyapp.</li>
            <li>As Polyapp receives updates you will be able to install them quickly and easily without having to merge your code into Polyapp's code.</li>
            <li>You do not need to write the service in Go.</li>
        </ul>
        
        <p>Under some rare circumstances you may wish to create a Bot inside Polyapp itself. If you truly need to take this approach, please contact us for help at support@polyapp.tech.</p>
        
        <h2>Developing Bots</h2>
        <p>You can learn more about developing Bots on the <a href="/polyapp-docs/advanced/MicroserviceBotDevelopment.html">"Microservice Bot Development"</a> page under Advanced.</p>
    </div>
