<div class="container">
    <h1>Dashboards</h1>

    <div id="player"></div>
    <script>
        // 2. This code loads the IFrame Player API code asynchronously.
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // 3. This function creates an <iframe> (and YouTube player)
        //    after the API code downloads.
        var player;
        function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '390',
            width: '640',
            videoId: 'bLVJPuAOyNw',
            playerVars: {
            'playsinline': 1
            },
            events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
            }
        });
        }

        // 4. The API will call this function when the video player is ready.
        function onPlayerReady(event) {
        event.target.playVideo();
        }

        // 5. The API calls this function when the player's state changes.
        //    The function indicates that when playing a video (state=1),
        //    the player should play for six seconds and then stop.
        var done = false;
        function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
            setTimeout(stopVideo, 6000);
            done = true;
        }
        }
        function stopVideo() {
        player.stopVideo();
        }
    </script>

    <h2>Overview</h2>
    <p>Dashboards contain links, charts and fields. They are commonly used as your home page. An example of the default "Welcome" Dashboard is shown below.</p>
    <img class="img-fluid" src="/polyapp-docs/Welcome_to_Polyapp_Dashboard.png" />

    <p>Prior to dashboards, there was no good way to connect disparate parts of Polyapp together. To find a Chart you had to search for the "Create Chart" Task and then hunt through the list of charts to find the one you wanted. If you wanted to view a table report of that data or view a piece of the data in that chart you had to repeat that process: go back to the home page, search for the Task you wanted, and open it. Dashboards make this process easier by letting you add tables, charts, links, and other fields to one central page. Now if you want to start your day by looking at a Table, deciding if you want to take action on an element in that table, and then opening the relevant Data, you can do so without ever leaving the home page.</p>
    
    <h2>Best Practices</h2>

    <p>Advanced users of Polyapp often have multiple applications inside Polyapp. For example, a sales manager may have one set of Tasks they use while trying to sell the company's products and another set of Tasks they use while monitoring their own employee's work. Rather than creating one dashboard which encompasses both of these goals <b>you should create two dashboards which link to each other</b>. By creating two separate dashboards you can focus your mind and energies upon one big-picture idea at a time, letting your brain transition into different "modes of thinking". By linking them together, you're always just one click away from switching between those modes of thinking. Creating two different dashboards also helps to reduce clutter on your screen and makes the application appear tidier.</p>

    <p>You may be tempted to make one dashboard to rule them all: a dashboard which links out to two or more other dashboards which then have domain or application specific charts and links. This is definitely possible. Just keep in mind that the time you are spending creating and maintaining dashboards is time you are not spending getting the rest of your work done!</p>

    <p>As always, if you have any questions about Polyapp feel free to send us an email at: support@polyapp.tech</p>
    
</div>
