<div class="container">
    <h1>Importing into Polyapp</h1>
    <p>Polyapp supports importing and exporting all Data from Polyapp. It also supports importing arbitrary information from 3rd party systems and constructing Tasks from that arbitrary information.</p>

    <h2>Import Data and Create Task</h2>
    <p>One of Polyapp's most powerful features, "Import Data and Create Task", generates Tasks when you import data from 3rd party software. In other words, it turns an expensive and labor intensive process which looks like this:</p>
    <p>Open Other Software -> Export information -> Software Developer writes code to transform the data -> Software Developer runs the code -> Open Polyapp -> Import Data</p>
    <p>Into an inexpensive and fast process that looks like this:</p>
    <p>Open Other Software -> Export information -> Open Polyapp -> Import Data and Create Task</p>
    <p>You can access this Task under "polyapp" / "Import", <a href="https://polyapp-public.appspot.com/t/polyapp/Import/pfZwOtZRIPvIcKcfPGYtVahFJ?ux=pXfWQhvmQUbDpAvPvcHaYxGiE&schema=GpHQudsjtVMmyLgurwuIJUMcY&data=new">here in the public instance</a>, or at this relative URL: <code>/t/polyapp/Import/pfZwOtZRIPvIcKcfPGYtVahFJ?ux=pXfWQhvmQUbDpAvPvcHaYxGiE&schema=GpHQudsjtVMmyLgurwuIJUMcY&data=new</code></p>
    <p>There are two tricky parts to this process. First, other software can have unreliable export functionality. If they don't have the ability to export some or all of the information in their system you may be out of luck. Second, even if they have export functionality you must make sure the data being exported is either exported to a CSV file or is exported to JSON. For now, these are the only data formats which are supported by Polyapp. If you are able to export data but the format is not CSV or JSON, please contact Polyapp at support@polyapp.tech and we may be able to support this other data format.</p>
    <p>Once you have the exported information all you have to do is fill out the "Import Data and Create Task" Task and click Done. After the import is finished you will be able to see a list of "Imported Data IDs", and you will find one or more new Tasks under the Industry and Domain you selected.</p>
    <h2>Import Data</h2>
    <p>Importing Data into Polyapp for an existing Task / Schema is also possible. Open the Import Data Task under "polyapp" / "Import", <a href="https://polyapp-public.appspot.com/t/polyapp/Import/NmWRIUMwmZsZTPkqtBiacDVjE?ux=kgGbDPiPAmGvJawTgbfjyXzUS&schema=FLDIivYCRvcKHvSJkPQMMVwTy&data=new">here in the public instance</a>, or at this relative URL: <code>/t/polyapp/Import/NmWRIUMwmZsZTPkqtBiacDVjE?ux=kgGbDPiPAmGvJawTgbfjyXzUS&schema=FLDIivYCRvcKHvSJkPQMMVwTy&data=new</code></p>
    <p>Then fill out the form and press Done to initiate the import.</p>
    <h2>Export Data</h2>
    <p>Exporting Data from Polyapp is a breeze. Open the Export Data Task under "polyapp" / "Export", <a href="https://polyapp-public.appspot.com/t/polyapp/Export/fKgfaVERIycoCdJoaXmhDTSYr?ux=ZHrpqruzyePaJZLMXbGqiNNzg&schema=uGhKgwWImpQhdXIPssYLfuxaO&data=new">here in the public instance</a>, or at this relative URL: <code>/t/polyapp/Export/fKgfaVERIycoCdJoaXmhDTSYr?ux=ZHrpqruzyePaJZLMXbGqiNNzg&schema=uGhKgwWImpQhdXIPssYLfuxaO&data=new</code></p>
    <p>Then fill out the form and press Done to initate the Export. You will be directed to a new page where you can view the exported Datas.</p>
</div>
