
    <div class="container">
        <h1>Personalization</h1>
        <p>Personalization is changing the look and feel of Polyapp's software to meet your personal preferences. Polyapp's current personalization options are below.</p>
        <ul>
            <li>Themes</li>
        </ul>

        <h2>Themes</h2>
        <img class="img-fluid" src="/Pink Themed Polyapp.png" />
        
        <p>Changing the theme does not change how everything in Polyapp looks, but it makes an effort to make the screens present in the software more personalized. Polyapp is working to make the theme you choose more pervasive in the software by coloring more buttons and other elements, but if there is something in particular you want, please reach out to us at support@polyapp.tech and we can try to help.</p>
        
        <p><b>Your personal theme will supercede any Task themes which were set when a Task was created.</b></p>
        
        <h3>Setting Your Theme</h3>
        <ol>
            <li>Open the "Create Theme" Task with a new Data.</li>
            <li>Use the color pickers to choose your preferred colors.</li>
            <li>Check the "Set As My Theme" box.</li>
            <li>Press Done. Your theme should now be applied to your User profile, which means it will apply to every Task you open.</li>
        </ol>

        <h3>Removing Your Theme</h3>
        <p>The easiest way to remove a theme is to set a new one using the directions from "Setting Your Theme". But what if you want to go back to the default theme? These directions help you remove all themeing from your User profile. Note: You may need an administrator to help you with these steps if you lack the right security settings to do them yourself.</p>
        <ol>
            <li>Open the "User" Task's Change Data page.</li>
            <li>Find your User and click on it.</li>
            <li>Scroll down to the "Theme Path" field and delete its contents.</li>
            <li>Press Done.</li>
        </ol>
    </div>
