
    <div class="container">
        <h1>Reporting</h1>
        <p>Reporting can mean different things to different stakeholders. In Polyapp, reporting means doing one of these things:</p>
        <ol>
            <li>Viewing, creating, updating, searching, or filtering tables</li>
            <li>Viewing, creating, updating, or filtering charts</li>
            <li>Exporting data for use in an external reporting program</li>
        </ol>
        <p>Polyapp would like to hear from you regarding our reporting capabilities. What features are we missing which you want? How do you use our reporting capabilities to accomplish your daily tasks? Please send feedback to: support@polyapp.tech</p>

        <div id="player"></div>
        <script>
            // 2. This code loads the IFrame Player API code asynchronously.
            var tag = document.createElement('script');

            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            // 3. This function creates an <iframe> (and YouTube player)
            //    after the API code downloads.
            var player;
            function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                height: '390',
                width: '640',
                videoId: 'mpX5bkDa-xs',
                playerVars: {
                'playsinline': 1
                },
                events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
                }
            });
            }

            // 4. The API will call this function when the video player is ready.
            function onPlayerReady(event) {
            event.target.playVideo();
            }

            // 5. The API calls this function when the player's state changes.
            //    The function indicates that when playing a video (state=1),
            //    the player should play for six seconds and then stop.
            var done = false;
            function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.PLAYING && !done) {
                setTimeout(stopVideo, 6000);
                done = true;
            }
            }
            function stopVideo() {
            player.stopVideo();
            }
        </script>

        <h2>Upon what can you Report?</h2>
        <p>Everything. Anything which has a Data can be reported upon. Because a Data is used to generate all other information in Polyapp, you can report on everything in Polyapp. We have included some examples below.</p>
        <ul>
            <li>Data in a Task you create. For example, if you create a Task which records data whenever a customer contacts you then you can report on every field in that Data.</li>
            <li>Data on Tasks created by Polyapp. For example, you can report on how many Users are in the system.</li>
            <li>Employee Productivity. By default, Polyapp adds user productivity tracking to every Task. You can run reports on this data to glean information like "How many Tasks has this employee finished?" and "How long did it take an Employee to finish this Task?"</li>
        </ul>

        <h2>Tables</h2>
        <p>Tables display data which follows a single Schema. To create a Table, open the "Create Table from Data" Task. <a href="https://polyapp-public.appspot.com/polyappChangeData?industry=polyapp&domain=Reporting&task=zIoQjcmACDOdQsrKckUmmzLTZ&ux=GjxnRTamLcVfyALAMjpWaywYm&schema=IYrpkFurrcTnXqbLuMawFknMd">Public Polyapp link</a>. Relative URL: <code>/polyappChangeData?industry=polyapp&domain=Reporting&task=zIoQjcmACDOdQsrKckUmmzLTZ&ux=GjxnRTamLcVfyALAMjpWaywYm&schema=IYrpkFurrcTnXqbLuMawFknMd</code></p>
        <p>To create a Table, fill out this form and click "Done". This page contains the ability to add time based filters to your table. To open a Table which has already been created, open its "Create Table from Data" Task's Data and then click Done and you will be redirected to the table.</p>

        <h2>Charts</h2>
        <p>Charts display data which follows a single Schema. To create a Chart, open the "Chart from Data" Task. <a href="https://polyapp-public.appspot.com/polyappChangeData?industry=polyapp&domain=Reporting&task=ltygzBCYpjlqeXRhSVPZtzJKb&schema=nMyfcJQJSykcdLpvjqFRZXkeO&ux=cYdflemxtmQCdlsgiGVcsgFpm">Public Polyapp link</a>. Relative URL: <code>/polyappChangeData?industry=polyapp&domain=Reporting&task=ltygzBCYpjlqeXRhSVPZtzJKb&schema=nMyfcJQJSykcdLpvjqFRZXkeO&ux=cYdflemxtmQCdlsgiGVcsgFpm</code></p>
        <p>To create a Chart, fill out this form and click "Done". This page contains the ability to add time and field based filters to your chart. To open a Chart which has already been created, open its "Chart from Data" Task's Data and then click Done and you will be redirected to the chart.</p>

        <h2>Productivity Reports</h2>
        <p>You can run reports on the productivity data by running reports on the "User Activity" Schema. However, most people are looking for reports which show how long someone was using the system and what issues were taking an abnormally long time. The "Productivity Chart" Task helps you answer these questions. <a href="https://polyapp-public.appspot.com/t/polyapp/Reporting/WdOjfHXRMsRMDPXVnniFiSbCi?ux=PYGQMhVtTmutXMIjZnherzCHJ&schema=qHplnMMoSxQXXMRuPpkwkKhXt&data=new">Public Polyapp Link</a>. Relative URL: <code>/t/polyapp/Reporting/WdOjfHXRMsRMDPXVnniFiSbCi?ux=PYGQMhVtTmutXMIjZnherzCHJ&schema=qHplnMMoSxQXXMRuPpkwkKhXt&data=new</code></p>
        <p>Running a new report on a particular person is as easy as filling out the form and clicking "Done". You will then be redirected to view the output of the report.</p>

        <h2>Exporting Data</h2>

        <h3>Exporting Considerations</h3>
        <p>Polyapp lets you create complex Tasks which contain Subtasks. The good news is that exporting Tasks which do not have any Subtasks is easy, and we support a variety of export formats. The bad news is that when your Task has subtasks, some common export formats like CSV files don't have a way to represent the relationship between the parent Task and its subtasks. For example, if you are exporting a simple Task into Excel, you can export the Task with "Export to CSV" and import it directly into Excel. On the other hand, if you are exporting multiple Tasks or Tasks with Subtasks then the only way to export the data while maintaining all of the relationship information is by exporting to JSON. Unfortunately a JSON export is difficult to import into systems other than Polyapp unless a software developer writes some code.</p>

        <p>If you want export functionality which we do not already support, please email us at support@polyapp.tech and / or open a new issue in Gitlab at <a href="https://gitlab.com/polyapp-open-source/polyapp/-/issues">https://gitlab.com/polyapp-open-source/polyapp/-/issues</a> and we will accomodate your exact use case as soon as possible.</p>

        <p>When exporting, please keep in mind that Polyapp's Tasks can contain subtasks which have a different Schema. To maintain this relationship Polyapp contains a "Ref" (reference) field or "ARef" (array of references) to the subtask or subtasks. When you export data to a CSV file, this data is not exported because it is nonsensical. When you export to JSON recursively, the children's data is included as another level of the JSON. The exporting procedure detailed below assumes you wish to export a CSV, which does not include any information about child Tasks.</p>

        <h3>Export Procedure</h3>
        <p>You can export data from the "Export Data" Task located at "polyapp / Export / Export Data". <a href="https://polyapp-public.appspot.com/polyappChangeData?industry=polyapp&domain=Export&task=fKgfaVERIycoCdJoaXmhDTSYr&ux=ZHrpqruzyePaJZLMXbGqiNNzg&schema=uGhKgwWImpQhdXIPssYLfuxaO">Public Polyapp link</a>. Relative URL: <code>/polyappChangeData?industry=polyapp&domain=Export&task=fKgfaVERIycoCdJoaXmhDTSYr&ux=ZHrpqruzyePaJZLMXbGqiNNzg&schema=uGhKgwWImpQhdXIPssYLfuxaO</code></p>
        <ol>
            <li>It is recommended to create a new Export Data every time you export. From the "Change Data" page, click "Create".</li>
            <li>Enter the Schema you wish to export</li>
            <li>Set Data Format to "CSV"</li>
            <li>Check the "Remove Metadata" box</li>
            <li>Click "Done"</li>
            <li>You will be brought to a new page. In a perfect world you could download this file to your computer. In the real world, your computer may complain about security if you do so. Copy all of the text on this page using <code>Ctrl + A</code> then <code>Ctrl + C</code> (<code>Cmd + A</code> then <code>Cmd + C</code> on Mac).</li>
            <li>Open a text editor on your desktop (Notepad on Windows; TextEdit on Mac).</li>
            <li>Paste the copied text <code>Ctrl + P</code> (<code>Cmd + P</code> on Mac).</li>
            <li>Save this file as "export.csv"</li>
            <li>Open the program you will do reporting with and import the file as a CSV file. If the file does not import correctly it may be because of the escaping format being used in the CSV file. If you are using Excel, there are options during the import workflow to specify the escaping used by the files. The file will be delinated with commas and the fields are quoted.</li>
        </ol>
    </div>
