
    <div class="container">
        <h1>Surveys</h1>
        <div id="player"></div>
        <script>
            // 2. This code loads the IFrame Player API code asynchronously.
            var tag = document.createElement('script');

            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            // 3. This function creates an <iframe> (and YouTube player)
            //    after the API code downloads.
            var player;
            function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                height: '390',
                width: '640',
                videoId: '',
                playerVars: {
                'playsinline': 1
                },
                events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
                }
            });
            }

            // 4. The API will call this function when the video player is ready.
            function onPlayerReady(event) {
            event.target.playVideo();
            }

            // 5. The API calls this function when the player's state changes.
            //    The function indicates that when playing a video (state=1),
            //    the player should play for six seconds and then stop.
            var done = false;
            function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.PLAYING && !done) {
                setTimeout(stopVideo, 6000);
                done = true;
            }
            }
            function stopVideo() {
            player.stopVideo();
            }
        </script>

        <p>Surveys are public or private forms whose goals are different from regular Tasks in a few key ways:</p>
        <ul>
            <li><b>Accessed via a link</b>: Respondents should be able to click a link to start the survey.</li>
            <li><b>Users may all be new to Polyapp</b>: Public - facing surveys shouldn't require people to sign in or be issued security credentials to access the survey unless the survey creator desires that functionality.</li>
            <li><b>Branded</b>: Respondents who click on a survey link expect to see something to indicate the next page is owned by the company who sent them the survey. This might include a specific theme, brand colors, and/or a logo.</li>
            <li><b>Users are less incentivized to finish</b>: Almost all surveys are for the benefit of the person issuing the survey, whereas Polyapp's Tasks assume you intrinsically want to finish the Task because it is part of your job. We need to provide them with incentives to start the survey, incentivize them to keep going, and give them an appropriate reward when they are done.</li>
            <li><b>Confidential</b>: Each survey response should be hidden from the other people taking the survey. Polyapp is designed to grant access to all results of a Task, so security around surveys needs to be tightened.</li>
        </ul>

        <p>Polyapp addresses all of these points with our "Create Survey" Task.</p>

        
        <p>Polyapp would like to hear from you regarding our survey capabilities. What features are we missing which you want? Please send feedback to: support@polyapp.tech</p>
    </div>
