
<div class="container">
    <h1>Tasks</h1>
    <p>Everything you see and interact with in Polyapp is a Task. This includes the home page, "Change Domain", the "Edit Task" Task, and everything else in the system. If you do not know the first thing about Tasks, you will find it difficult to understand Polyapp.</p>

    <div id="player"></div>
        <script>
            // 2. This code loads the IFrame Player API code asynchronously.
            var tag = document.createElement('script');

            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            // 3. This function creates an <iframe> (and YouTube player)
            //    after the API code downloads.
            var player;
            function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                height: '390',
                width: '640',
                videoId: 'otP2FPw0R-M',
                playerVars: {
                'playsinline': 1
                },
                events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
                }
            });
            }

            // 4. The API will call this function when the video player is ready.
            function onPlayerReady(event) {
            event.target.playVideo();
            }

            // 5. The API calls this function when the player's state changes.
            //    The function indicates that when playing a video (state=1),
            //    the player should play for six seconds and then stop.
            var done = false;
            function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.PLAYING && !done) {
                setTimeout(stopVideo, 6000);
                done = true;
            }
            }
            function stopVideo() {
            player.stopVideo();
            }
        </script>

    <h2>How Tasks Work</h2>
    <p>Tasks as they are labelled in the system are actually three things behind the scenes: a Task, Schema, and UX. The Task contains a name, help text, and has some requirements which must be met before the Task is considered "Done". For example, you could imagine a Task which is a survey, and where every question on the survey must be filled out before the survey respondent could click "Done" and be redirected to a new page. The Schema defines the data structures involved. It has a list of all of the fields which are associated with a Task and their data type, like an integer or array of integers or a reference to another Task. The UX stands for User Experience. It contains information about what you see, including the HTML (user interface code) and title (shown in the browser tab and in Google Search results) for a Task.</p>

    <p>A Task is opened with a Data. A Data is the stuff you type into the forms which make up a Task's UX. When you open a new Task, you get a new Data, which means you see a blank form. When you open an existing form you have been working on for a while, you see the work you have already done.</p>

    <p>A Task is stored in a "folder" along with everything else in its Domain. A Task's Data is stored in another "folder" along with all of the other data associated with that Task. When you click "Change Domain" you are able to pick a folder which contains Tasks. When you click "Change Task" with an Industry and Domain already selected you are able to pick which Task in that Domain you wish to work with. When you click "Change Data" you can either create a new Data for your Task or open an existing Data.</p>

    <h2>Creating New Tasks</h2>
    <p>Once a Task has been created, everything which is needed to view, edit, and validate a Tasks's Data is stored in the database. To create a new Task, open the "Edit Tasks" Task from the home page or from "Task / TaskSchemaUX / Edit Task". <a href="https://polyapp-public.appspot.com/polyappChangeData?industry=polyapp&domain=TaskSchemaUX&task=gqyLWclKrvEaWHalHqUdHghrt&schema=gjGLMlcNApJyvRjmgQbopsXPI&ux=hRpIEGPgKvxSzvnCeDpAVcwgJ">Public Polyapp link</a>. Relative link: <code>/polyappChangeData?industry=polyapp&domain=TaskSchemaUX&task=gqyLWclKrvEaWHalHqUdHghrt&schema=gjGLMlcNApJyvRjmgQbopsXPI&ux=hRpIEGPgKvxSzvnCeDpAVcwgJ</code>.</p>

    <p>Creating a Task is as easy as filling out the resulting form. If you need help, be sure to click on the help icons beside every field.</p>

    <h2>Editing Existing Tasks</h2>
    <p>You edit Tasks the same way you create Tasks, but instead of pressing "Create" you choose the Task you wish to edit and then you edit it. Editing Tasks is more dangerous and difficult than creating new Tasks for these reasons:</p>
    <ul>
        <li>When you edit a Task it changes for everyone - not just for you. Therefore, communication with your coworkers and other people in your organization is vital.</li>
        <li>Changing the name of a field or deleting a field requires a conversion to be applied which moves the data to a new field name. This wasn't a problem when you were creating a new Task because new Tasks have no Data associated with them.</li>
        <li>If there is code associated with your Task via a Bot, removing or editing field names may break that code.</li>
    </ul>
    <p>Note: Older verions of Polyapp (before July 12, 2021) do not force you to apply conversions when you change a field's name or delete a field. This meant that when you changed a field's name or deleted it then every time you opened a Data or ran a report including that Data, all of the information associated with that field would be deleted.</p>
</div>
