<div class="container">
    <h1>Deployment</h1>
    <p>To deploy Polyapp to a cloud provider, first sign up for a cloud account through your favored cloud provider and enable billing for that account. Then open a cloud shell for that cloud provider and run these commands:</p>

    <code>git clone https://gitlab.com/polyapp-open-source/polyapp</code>
    <br>
    <code>cd polyapp</code>
    <br>
    <code>./deploy.sh</code>

    <p>The deployment wizard will guide you through the rest of the deployment process.</p>
    
    <h2>How Deployment Works</h2>
    <p>Polyapp and its dependencies (like the Postgres database) deploy to one or more Docker containers. The definition for each Docker container (Dockerfiles) are either contained in the <a href="https://gitlab.com/polyapp-open-source/polyapp">Polyapp git repository</a> or are publicly available on <a href="https://hub.docker.com/">Docker Hub</a>. The settings for running these containers are defined in the <a href="https://gitlab.com/polyapp-open-source/polyapp/-/blob/master/docker-compose.yml">docker-compose.yml file in the Gitlab repository</a>. Docker Compose files contain all of the information cloud providers need to deploy Polyapp, but each cloud provider has its own commands to do that. To handle this, scripts like google_cloud_deploy.sh and aws_deploy.sh can be run to deploy Polyapp in a specific cloud environment. To make the deployment steps identical across all cloud environments, we have written the deploy.sh script to detect the current cloud environment and then run the appropriate cloud-specific deployment script.</p>
    
    <h2>Scaling</h2>
    <p>The scripts included in the <a href="https://gitlab.com/polyapp-open-source/polyapp">Polyapp git repository</a> are an excellent way to get started with Polyapp. However, as your usage of the Polyapp grows it will become necessary to scale up. This section helps you do so.</p>
    
    <h3>What To Scale?</h3>
    <p>Different parts of Polyapp will scale at different rates depending on your situation. Typically there are 3 resources you will need to scale: CPU, RAM, and hard drive space. If your Polyapp instance's number of current users is growing, you will want to scale the CPU and RAM and hard drive space. If the size of your data is constantly growing but the number of users is not growing very much, you will need to scale only the hard drive space.</p>
    
    <h3>Vertical Scaling</h3>
    <p>You should favor vertical scaling over horizontal scaling. Whereas horizontal scaling involves coordinating multiple machines and requires multiple node types and some understanding of system management, vertical scaling merely requires you to change some numbers in the deployment script. For the sake of your time and the ease of maintaining your Polyapp deployment, we highly recommend starting with vertical scaling.</p>
    <p>To scale your environment vertically, first use <code>git clone https://gitlab.com/polyapp-open-source/polyapp</code> to download Polyapp into the cloud shell of your cloud provider. Then identify the script you usually use to deploy Polyapp. For example, if your cloud provider is Google Cloud, you are probably using the <code>google_cloud_deploy.sh</code> script. Next, open this script in a text editor <code>nano google_cloud_deploy.sh</code> and look at the environment variables at the top of the file. Some of these variables are controlling the size of the virtual machine upon which Polyapp's Docker Compose file is running. You will know which variables are relevant because they will be marked with comments (lines which start with #). To vertically scale your application, double the size of the relevant numbers. Then re-run the deployment script. When the deployment finishes, you will have vertically scaled Polyapp.</p>

    <h3>Horizontal Scaling</h3>
    <p>We do not have a tutorial for horizontally scaling Polyapp, so you will have to carefully perform steps which manually scale Polyapp according to your needs. The best way to perform horizontal scaling is to first acknowledge that you're going off the beaten path and will probably make some mistakes along the way. Back up any data you have in your Polyapp instance, and create a new environment (new project or use a different region or something like that) while you try out your scaling strategy. Then find your cloud provider's tutorial for deploying with Docker Compose. Your cloud provider may have multiple tutorials. For smaller deployments, you'll want to find a tutorial covering Docker Swarm. For larger deployments use Kubernetes. Good luck!</p>
</div>
