<div class="container">
    <h1>Get Started with System Administration</h1>
    <p>System Administration refers to providing a working and highly available Polyapp instance in a way which is easy to access for non technical people. Polyapp strongly recommends accomplishing these goals by hosting an instance on Google Cloud which is accessible over the public internet. Polyapp restricts access to the system by requiring everyone who makes requests to Polyapp's servers to have a User who is authenticated by Firebase. Each User is assigned zero or more Roles which grant them access to the system. To learn more about Users and Roles, check out the Users and Roles pages under "System Administration".</p>
    <p>This guide is <a href="https://gitlab.com/polyapp-open-source/polyapp/-/blob/master/INSTALL_GUIDE.md">also available here</a>.</p>

    <h2>Installing Polyapp</h2>
    <div id="player"></div>
    <script>
        // 2. This code loads the IFrame Player API code asynchronously.
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // 3. This function creates an <iframe> (and YouTube player)
        //    after the API code downloads.
        var player;
        function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '390',
            width: '640',
            videoId: '0lj4Danp2Bg',
            playerVars: {
            'playsinline': 1
            },
            events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
            }
        });
        }

        // 4. The API will call this function when the video player is ready.
        function onPlayerReady(event) {
        event.target.playVideo();
        }

        // 5. The API calls this function when the player's state changes.
        //    The function indicates that when playing a video (state=1),
        //    the player should play for six seconds and then stop.
        var done = false;
        function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
            setTimeout(stopVideo, 6000);
            done = true;
        }
        }
        function stopVideo() {
        player.stopVideo();
        }
    </script>
    <p>Currently, Polyapp only works in Google Cloud. It usually operates in the free tier, but it is possible (and common) to exceed the free tier and be charged the more you use Polyapp. You can learn more about the free tier of the resources for: <a href="https://firebase.google.com/docs/firestore/quotas#free-quota">Firestore</a>, <a href="https://cloud.google.com/free/docs/gcp-free-tier#free-tier-usage-limits">App Engine</a>, and <a href="https://cloud.google.com/free/docs/gcp-free-tier#free-tier-usage-limits">Cloud Storage</a> (used for images and blobs).</p>

    <p>A video walkthrough of the installation process is available here: <a href="https://youtu.be/0lj4Danp2Bg">https://youtu.be/0lj4Danp2Bg</a></p>

    <p>The best way to get started is to use the installation script. The steps to get started with the script are below.</p>
    <ol>
        <li>If you do not already have a Google Account, you will need one.</li>
        <li>If you do not already have access to Google Cloud, you need to create an account. <a href="https://cloud.google.com/">https://cloud.google.com/</a></li>
        <li>If you do not already have a Cloud Billing account, you need to create one. <a href="https://console.cloud.google.com/billing">https://console.cloud.google.com/billing</a></li>
        <li>Go here: <a href="https://shell.cloud.google.com/">https://shell.cloud.google.com/</a></li>
        <li>Run these commands after Cloud Shell starts up:</li>
        <li><code>git clone --depth 1 https://gitlab.com/polyapp-open-source/polyapp</code></li>
        <li><code>cd polyapp/</code></li>
        <li><code>./google_cloud_install.sh</code></li>
    </ol>

    <p>The installation program will guide you through the rest of the installation process.</p>

    <h2>Updates and Updating</h2>
    <p>There are 2 supported ways to update Polyapp</p>

    <h3>Option 1 - For Everyone</h3>
    <p>You can re-run the installation procedure to update Polyapp.</p>
    <code>
        rm -rf polyapp<br>
        git clone --depth 1 https://gitlab.com/polyapp-open-source/polyapp<br>
        cd polyapp/<br>
        ./google_cloud_install.sh
    </code>

    <p>At this point the installer will begin. Copy-paste your existing Project ID at the first prompt or else Polyapp will create a new project.</p>

    <p>Please keep in mind that the re-installation process will delete all documents which were created by Polyapp and stored in this repository. This effectively means deleting the admin user. After the process is over, visit <a href="https://console.firebase.google.com/">https://console.firebase.google.com/</a> and navigate to "Authentication", find the admin user, and reset their password.</p>

    <h3>Option 2 - For Developers</h3>
    <p>You can use a CI/CD pipeline to update Polyapp.</p>
    <ol>
        <li>If you haven't installed Polyapp yet using the installer you need to do so.</li>
        <li>Fork Polyapp in Gitlab.</li>
        <li>Set the CI/CD variables discussed at the top of <a href="https://gitlab.com/polyapp-open-source/polyapp/-/blob/master/.gitlab-ci.yml">.gitlab-ci.yml</a> (GOOGLE_CLOUD_PROJECT_ID and DEPLOY_KEY).</li>
        <li>Push into your repository. Gitlab will start the pipeline automatically. When the "deploy_gae" stage is done Polyapp will be updated.</li>
    </ol>

    <p>Depending on how you set up the pipeline, you can avoid having to reset the admin password.</p>
</div>
