
    <div class="container">
        <h1>Roles</h1>
        <p>Polyapp uses a Role based access control system. It lets you grant access at these levels: Everything, Everything in a particular "Industry", Everything in an "Industry / Domain", and Everything in an "Industry / Domain / Schema".</p>

        <h2>Granting Access</h2>
        <p>First you need a Role. You can access "Edit Roles" from the home page or from "polyapp / Role / Role". Each Role has some Access Task Data associated with it. Each Access grants some access to the system (Create, Read, Update, Delete, and Key Value access). Options:</p>
        <ul>
            <li>If you set Industry to "polyapp" and Domain to "polyapp" you grant a user access to the entire system on the terms listed.</li>
            <li>If you select an Industry and set Domain to "polyapp" you grant the user that access level for everything in that Industry.</li>
            <li>If you specify a Domain, it restricts access to that Industry / Domain.</li>
            <li>If you specify an Industry, Domain, and Schema, it restricts access to that specific Industry / Domain / Schema.</li>
        </ul>

        <h2>Notes</h2>
        <p>To edit Tasks in the area being granted access to you have to add a Key Value of "EditTask true"</p>

    </div>
