
    <div class="container">
        <h1>Troubleshooting</h1>
        <p>Sometimes, things go wrong. This page can help.</p>

        <h2>Q & A</h2>
        <p>Q: I see "location.hostname is not recognized. Did you configure main.js and sw.js to enable Firebase Authentication on your domain?". What do I do?</p>
        <p>A: You need to re-install Polyapp <i>after deleting the polyapp directory</i>. Go back to google cloud console and delete your "polyapp" directory. Then re-run the installer, being sure to re-install into the same project into which you originally installed Polyapp.</p>

    </div>
