
    <div class="container">
        <h1>Users</h1>
        <p>In Polyapp, everyone accessing the system is a User. The User concept is critical for tracking people as they move through the system - unless they are anonymous, in which case all tracking information is pooled together. The User also contains references to Roles, which allow people access to the system, and keeps a reference to someone's linked authentication UID. Authentication is discussed in more detail in the Roles documentation.</p>

        <h2>Most Users</h2>
        <p>Most users should log in with a federated login provider like Google or Microsoft. You can configure available federated providers from the <a href="https://console.firebase.google.com">Firebase console</a>. At this time, only the ability to log in with Google is display at /signIn. If you wish to change that, please contact us at support@polyapp.tech and we can add the additional option in a day or two to the unstable master branch.</p>
        <p>There is an additional way to log in: via username and password. This is only used by the super admin account because it can be fussy and if something goes wrong you have to log in to the Firebase Console and access the Authentication records there, and sometimes the Firestore records, to fix the problem.</p>

        <h2>Anonymous Users</h2>
        <p>These users are not logged in via a Google Account or a federated authentication provider. You can only grant access or restrict access for all of them at once. You can do this via "polyapp / User / User" Task. It is recommended to give anonymous users no access to the system. When you delete all Roles for this user, it will display an error when the page is accessed saying that this user "has no roles assigned". If a regular user encounters this error, direct them to log in and let us know they saw this error at support@polyapp.tech (they should never see this error so we want to know when it appears).</p>
    </div>
