<h1>Advanced Documentation</h1>
<p>This documentation is targeted at software developers and system administrators. It covers less common topics like transferring data between different Polyapp instances and when to develop on Polyapp's core code.</p>
