<div class="container">
    <h1>System Capabilities</h1>
    <p>This document outlines Polyapp's out-of-the-box capabilities and features, discusses the benefits of system extensibility, and wraps up with an outline of Polyapp's company vision.</p>
    <h2>0 Cost Capabilities</h2>
    0 Cost (free) capabilities have already been developed by Polyapp or another organization and are licensed such that
    anyone, including Polyapp’s competitors, can use them. These capabilities have already been integrated into
    Polyapp’s platform and are ready to use “out of the box”. You will not be charged for their development, <b>but these
    features may require some training or education to be able to use effectively.</b></p>

    <p>The relevant features include, but are not limited to:
    <ul>
    <li><b>Tutorials.</b> We provide free tutorials on our documentation website to help you get started with the system and use it
    effectively.</li>
    <li><b>Autosaving.</b> The autosave feature is similar to Google Docs. As you type, the information stored in the system is
    automatically saved to the database.</li>
    <li><b>Access Control.</b> The system supports role based access control.</li>
    <li><b>Authentication.</b> The system supports authentication via Google or Microsoft accounts.</li>
    <li><b>Custom code integration.</b> A customer’s employee (usually an IT professional) who has sufficient access to the system
    can add code to the system without Polyapp’s intervention. This feature is sometimes called a “programming point”.</li>
    <li><b>Exporting Data.</b> All data in the system - even data regarding how the system is configured - can be exported.</li>
    <li><b>Importing Data.</b> All data in the system supports importing additional data.</li>
    <li><b>Creating Workflows From Imports.</b> Given some arbitrary CSV data, you can import that data into the system as-is and
    get access to Polyapp’s reporting and editing capabilities. This is somewhat similar to Excel’s import capabilities,
    where after the data is imported you can edit the data and create charts at will.</li>
    <li><b>Table Reports.</b> You can create tables from any data in the system. We support removing fields, filtering tables based
    on time periods, and filtering fields based on field’s values.</li>
    <li><b>Charts.</b> You can create charts for reports from any data in the system. The same filtering options available from table reports are also used for charts.</li>
    <li><b>Productivity Measurement.</b> The system is designed to measure employee productivity and report on that productivity.</li>
    <li><b>Dozens of prebuilt components.</b> Available components range from large text editors to date pickers. These components
    are ready to plug and play.</li>
    <li><b>Easy system configuration.</b> The system can be configured and modified safely without consulting Polyapp.</li>
    </ul></p>

    <h2>System Extensibility</h2>

    <p>Polyapp’s systems are designed to be extended by third parties. We have taken legal and technical action to meet
    this design goal, including:<ul>
    <li><b>Permissive licensing.</b> Most of Polyapp’s code base is licensed so that other organizations can use it and integrate
    it into their products.</li>
    <li><b>Ability to call 3rd party code.</b> Polyapp can call third party code at any of its “lifecycle hooks” - the beginning,
    middle, or end of a Task.</li>
    <li><b>Technical flexibility.</b> 3rd party code can be written in any language so long as it can be called by the HTTP
    protocol. Since every common language and tech stack (yes, even COBOL) is capable of interacting over the HTTP
    protocol, 3rd parties’ developers can get started with Polyapp without having to learn any new skills.</li>
    <li><b>Public documentation.</b> Our documentation is public. This includes tutorials, system overviews, architecture
    design, architecture justifications, code documentation, and the source code itself.</li></ul></p>

    <p>This approach has a number of benefits for our customers:<ul>
    <li><b>No technical or legal vendor lock-in.</b> Although Polyapp is the best authority on how our systems work, from a
    technical and legal perspective you could switch vendors and the new vendor would have access to everything they
    need to get started on the Polyapp platform.</li>
    <li><b>In-depth customer understanding.</b> People who use Polyapp have access to everything they need to get an in-depth
    understanding of the system.</li>
    <li><b>Short 3rd Party Spin Up Time.</b> If a 3rd party wishes to integrate with our system, they can go from knowing nothing
    to getting their environment set up for testing and development in about 1 hour by following our 20 minute video
    tutorial.</li></ul></p>

    <h2>Polyapp's Vision</h2>

    <p>Polyapp and its systems are built to harness future improvements in productivity created by technical improvements in AI and machine learning. This gives us a different outlook and incentive structure than most companies. Most
    companies' value proposition is to deliver functional and maintainable software. This is a laudable goal.
    Unfortunately, each company’s profits are driven by the number and size of billable features and the cost to
    maintain that feature when they are done working. This means they are incentivized to create big,
    complicated pieces of software which are difficult to maintain and create a dependency on their company for support.
    This is a misalignment of incentives which ultimately drags down customer’s productivity and saps customer’s funds.</p>

    <p>Polyapp is taking a different approach. In the coming years, AI and Machine Learning technology will continue to
    improve. Our system is designed to apply those improvements to create small, incremental changes to workflows.
    Polyapp wants to reduce the amount of time customers are using our software, measure the resulting gains in
    customer’s productivity, and sell those productivity gains to customers to achieve significant profits.
    Consequently, Polyapp is incentivized to create simple software which gives managers in-depth views of their
    employee’s productivity. Eventually, we will use this data to create a new value proposition for our company
    centered around fast and smart software instead of complex and expensive software features.</p>

</div>