<h1>Fundamentals</h1>
<p>Polyapp is a multi-headed beast. From the foundation of a Task and the added capabilities of Bots, you can replicate any form based software in Polyapp. The Fundamentals documentation teaches you the basics of Tasks and Bots to help you understand how to create and maintain a system with Polyapp. It then expounds upon these capabilities by diving into reporting on data in the system, how users work, and how roles and access control work.</p>
