    <div class="container">
        <h1>Polyapp Docs</h1>
        <p>Polyapp is a form builder and a low-code tool. Even if you do not know how to code you can use it to create complex forms. If you do know how to code, you can extend the software by calling additional services before a form loads, while it is being filled out, and after someone is done with the form.</p>
        <p>This website holds the documentation for Polyapp. Polyapp is free and open source. Try it out on our <a href="https://polyapp-public.appspot.com">public demo</a>.</p>
        <p>Need help? Email us at: support@polyapp.tech</p>
        <div id="player"></div>
        <script>
            // 2. This code loads the IFrame Player API code asynchronously.
            var tag = document.createElement('script');

            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            // 3. This function creates an <iframe> (and YouTube player)
            //    after the API code downloads.
            var player;
            function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                height: '390',
                width: '640',
                videoId: 'E1XtO5vNT7k',
                playerVars: {
                'playsinline': 1
                },
                events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
                }
            });
            }

            // 4. The API will call this function when the video player is ready.
            function onPlayerReady(event) {
            event.target.playVideo();
            }

            // 5. The API calls this function when the player's state changes.
            //    The function indicates that when playing a video (state=1),
            //    the player should play for six seconds and then stop.
            var done = false;
            function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.PLAYING && !done) {
                setTimeout(stopVideo, 6000);
                done = true;
            }
            }
            function stopVideo() {
            player.stopVideo();
            }
        </script>
    </div>

