<div class="container">
    <h1>API Integration</h1>
    <p>Polyapp has a prebuilt Bot which helps you quickly integrate a Task with an external API. However, it does not work for all cases. In the event that you need something which is not provided by Polyapp's built in Bot, the suggestion is to create a separate microservice which is called by Polyapp's HTTPSBot. We will first cover using the built in "External API Integration Bot" and then quickly discuss how to write your own Bot which integrates with an external service.</p>

    <div id="player"></div>
    <script>
        // 2. This code loads the IFrame Player API code asynchronously.
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // 3. This function creates an <iframe> (and YouTube player)
        //    after the API code downloads.
        var player;
        function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '390',
            width: '640',
            videoId: 'JdULokcK1ns',
            playerVars: {
            'playsinline': 1
            },
            events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
            }
        });
        }

        // 4. The API will call this function when the video player is ready.
        function onPlayerReady(event) {
        event.target.playVideo();
        }

        // 5. The API calls this function when the player's state changes.
        //    The function indicates that when playing a video (state=1),
        //    the player should play for six seconds and then stop.
        var done = false;
        function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
            setTimeout(stopVideo, 6000);
            done = true;
        }
        }
        function stopVideo() {
        player.stopVideo();
        }
    </script>

    <h2>External API Integration Bot</h2>
    <p>Many use cases for external API integration can be solved with the help of Polyapp's External API Integration Bot. This Bot calls an external API with the intent of either ingressing data or egressing data.</p>
    <p>Note: This Bot is being actively developed. If you want an additional feature for this Bot, please send us information about your use case. You can contact us via email at: support@polyapp.tech</p>

    <h3>API Integration Example</h3>
    <p>Let's say we have an external API which returns a number. An example of how to implement this API is below.</p>
    <p><a href="https://youtu.be/JdULokcK1ns">Video</a></p>

    <p><code>package main<br>
            <br>
        import (<br>
            &nbsp;&nbsp;"fmt"<br>
            &nbsp;&nbsp;"io/ioutil"<br>
            &nbsp;&nbsp;"log"<br>
            &nbsp;&nbsp;"math/rand"<br>
            &nbsp;&nbsp;"net/http"<br>
            &nbsp;&nbsp;"strconv"<br>
        )<br>
            <br>
        func main() {<br>
            &nbsp;&nbsp;http.HandleFunc("/", h)<br>
            &nbsp;&nbsp;log.Fatal(http.ListenAndServe(":9001", nil))<br>
        }<br>
            <br>
        var (<br>
        &nbsp;&nbsp;counter = 0<br>
        )<br>

        func h(w http.ResponseWriter, r *http.Request) {<br>
            &nbsp;&nbsp;randstring := strconv.Itoa(rand.Int())<br>
            &nbsp;&nbsp;bodyBytes, err := ioutil.ReadAll(r.Body)<br>
            &nbsp;&nbsp;if err != nil {<br>
            &nbsp;&nbsp;&nbsp;&nbsp;fmt.Println(err)<br>
            &nbsp;&nbsp;}<br>
            &nbsp;&nbsp;fmt.Printf("Body: %v\n", string(bodyBytes))<br>
            &nbsp;&nbsp;fmt.Printf("URL: %v\n", r.URL.String())<br>
            &nbsp;&nbsp;_, _ = fmt.Fprintf(w, `{"Counter": `+strconv.Itoa(counter)+`,<br>"Translate":"`+randstring+`"}`)<br>
            &nbsp;&nbsp;counter++<br>
        }</code></p>

    <p>To integrate this API into a Task, first we should create the Task with which we need to integrate. We will call this the "Target Task".</p>
    <p>Next, we must create a new API Call Data. The API Call Task is available <a href="https://polyapp-public.appspot.com/polyappChangeData?industry=polyapp&domain=External%20API%20Integration&task=EUNGGKCyRVgpkwppxsmwSaGqS&schema=qDcgEdMLOIZqdqmEAZgBslDZe&ux=CwcxWSGMgGPZhpszSupwoFEOG">here in Polyapp Public</a>. Relative URL: <code>/polyappChangeData?industry=polyapp&domain=External%20API%20Integration&task=EUNGGKCyRVgpkwppxsmwSaGqS&schema=qDcgEdMLOIZqdqmEAZgBslDZe&ux=CwcxWSGMgGPZhpszSupwoFEOG</code></p>
    <p>This Task has a subtask called "Configure API Call" which lets you define the URL, body, and options of the request you are making. It also provides a way to test your API call at the click of a button and to see the response from the API.</p>
    <p>After you have set up and tested your API call with the "Configure API Call" subtask, you will probably want to add some mappings. The three mappings available in this Task let you use fields from the "Target Task" to populate the request query, request body, or translate the API respone's body into the Data.</p>
    <p>For example, let's say our request body is JSON and we want to include a variable field, "Out", inside the request body. But in our Task, the name of the field we wish to use is not called "Out". It is called "Word To Translate". In this case, we would add an API Call Request Body Mapping from "Word To Translate" to "Out". When the API is called, the template variable <code>{{.Out}}</code> will be replaced with the value of the "Word To Translate" field in our Task.</p>
    <p>Another example revolves around ingressing data. Let's say we want to capture some of the response from the external API and store it in our Data. We could create fields whose names exactly match the external API's names. But we could also add "API Call Response Mappings". When the API response is read and parsed, the "API Call Response Mappings" can be used to translate external API field names like "response_time" into Polyapp field names like "Time".</p>
    <p>After you have configured the API Call and verified that you are getting your desired response, you can proceed to the next step: integrating the API Call into our "Target Task".</p>
    <p>To add the API Call to the Target Task, open "Edit Task" for the Task. If your goal is to ingress Data into Polyapp, copy and paste the "Ingress Bot ID" from the "API Call" Task's "Ingress Bot ID" field into the appropriate hook (one of "Bots Triggered At Load", "Bots Triggered Continuously", and "Bots Triggered At Done". If your goal is to egress Data, use the "Egress Bot ID". In both cases, you need to copy and paste the "Bot Static Data To Use" into the Target Task's Bot Static Data.</p>

    <p>If you are using the "Bots Triggered Continuously" slot then the API Call will only be triggered upon button press. You can configure which button press (boolean true value) upon which we should trigger the API by adding a Bot Static Data array value like: "APICallContinuousTrigger Some Trigger Field".</p>

    <p>When you press Done the Task will be re-created and the external API will be integrated.</p>

    <h3>Limitations of the API Call Bot</h3>
    <p>We will try to update our code to eliminate limitations over time. If there is a limiation which is stopping you from proceeding with your work, please contact us at: support@polyapp.tech.</p>
    <ul>
        <li>You may have only one API Call per Task. However, you are allowed to call the "API Call" at multiple hooks and call it as both an Ingress and Egress Bot.</li>
        <li>If you are using the "Bots Triggered Continuously" slot then the API Call will only be triggered upon button press. You can configure which button press (boolean true value) upon which we should trigger the API by adding a Bot Static Data array value like: "APICallContinuousTrigger Some Trigger Field".</li>
        <li>The Bot currently only handles JSON responses correctly. You can configure the request Body however you want, but ultimately the response will be unmarshalled using Go's JSON package.</li>
    </ul>

    <h2>Creating Your Own Bot</h2>
    <p>Creating your own bot works by creating a separate service in Google Cloud which responds to requests from Polyapp. First, you should review Bots under Fundamentals to understand how this works. Then you should create a simple "Hello World" Bot. After doing that you should understand how writing your own Bot gives you the ability to interact with Polyapp as a first-class citizen. You can then perform your own API request and handle the response yourself inside your own Bot. If you need help making API requests, please check the documentation for the language you are using.</p>
</div>
