
<div class="container">
    <h1>Developing Polyapp</h1>
    <h2>You Do Not Need To Develop Polyapp's Core Code</h2>
    <p>Developing on Polyapp itself - the core code - should only be a last resort to accomplish what you need. Most Tasks do not need custom code, and instead you can configure Bots created by Polyapp. If a Task needs more code, the best option is to create a microservice which is called by the HTTPS Bot. This effectively separates your code from Polyapp's core code and lets you control what version of Polyapp's code you are dependent upon. To get started with this, check out <a href="/polyapp-docs/bots.html/">Bots</a>.</p>
    <h2>Seriously, You Do Not Need to Develop Polyapp's Core Code</h2>
    <p>You may need an extreme amount of control over how your page is rendered and viewed. Perhaps you need to import a custom web application into Polyapp which uses a framework like Angular or React, or you need to make asynchronous API calls. <i>Developing on Polyapp is not needed to do this.</i> Instead, develop your application without Polyapp. When you are ready to integrate, add an HTTPSBot which calls an external microservice. In this external microservice you can include a ModDOM which deletes all of the content under the &lt;main/&gt; tag and inserts your own code. You can delete anything and everything in the DOM, including everything under the head tag and everything under the body tag. Once you do this you can force your own page refresh, effectively transforming the page however you want. That being said, it probably makes more sense to simply redirect the user to a different URL. You can redirect someone to a new URL by setting .NewURL in the response object in Polyapp. You can set this property via an external microservice called by the HTTPS Bot.</p>
    <h2>Requesting a Feature From Polyapp</h2>
    <p>What's easier than coding a fix yourself? Having someone else code it! If you want Polyapp to have a particular feature you can leave a new Issue in Gitlab and we may develop it for you. <a href="https://gitlab.com/polyapp-open-source/polyapp/-/issues">Search Existing Issues</a>. <a href="https://gitlab.com/polyapp-open-source/polyapp/-/issues/new">Open a New Issue</a>.</p>
    <h2>When to Develop on Polyapp's Core Code</h2>
    <ol>
        <li>Bug Fixes: Something is not working the way it is supposed to, and that thing is part of Polyapp's Core Code</li>
        <li>Quality improvements: increasing Polyapp's performance or security</li>
        <li>Existing Feature Extension to increase the depth of an existing feature in Polyapp's core code</li>
    </ol>
    <h2>Contribution Licensing</h2>
    <p>If your contribution's purpose must truly be part of Polyapp's core code, you will have to agree to release your contribution under an MIT license even if the part of Polyapp you are modifying is not licensed under the MIT license. This will make it easier for Polyapp to switch licenses for parts of the project in the future. For instance, we may move to the Apache 2.0 license in the future to reduce legal risk associated with the project.</p>
    <h2>Contribution Guidelines and Recommendations</h2>
    <p>Contributions must follow Effective Go. All contributions which follow Effective Go and vaguely fall under one of the reasons cited in "When to Develop on Polyapp's Core Code" should be accepted.</p>
    <p>I recommend reading DESIGN.md and the design commentary in the main repository prior to making any major contributions.</p>
    <h2>Contribution Help</h2>
    <p>We respect your time. If you have any questions about anything related to Polyapp, please contact us at support@polyapp.tech and we will be happy to help. We may ask you to join a chat, schedule a phone call, or have a virtual meeting to try to push your contribution through as quickly and efficiently as possible.</p>
    <h2>Contribution Warning</h2>
    <p>Polyapp reserves the right to do anything with your contribution allowed under the MIT license (aka anything we want).</p>
</div>
