<div class="container">
    <h1>JSON 2 App</h1>
    <p>You can build a Task from an arbitrary bit of JSON. The only limit to the Task's complexity is the complexity of your JSON!</p>
    <p><a href="https://polyapp-public.appspot.com/t/polyapp/JSON2App/pgEkUqNXuBBumtcETUsrkIdcg?ux=rOsRiwokAzbhtaQweVefLsNGV&schema=syugoFwCVGANyYpiVERflsdqn&data=new">Public Polyapp Link</a>. <a href="https://youtu.be/qVsMif4dlm4">Demo Video</a>.</p>
</div>
