<div class="container">
    <h1>Microservice Bot Development</h1>
    <div id="player"></div>
    <script>
        // 2. This code loads the IFrame Player API code asynchronously.
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // 3. This function creates an <iframe> (and YouTube player)
        //    after the API code downloads.
        var player;
        function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '390',
            width: '640',
            videoId: 'cGrMJbmWVtE',
            playerVars: {
            'playsinline': 1
            },
            events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
            }
        });
        }

        // 4. The API will call this function when the video player is ready.
        function onPlayerReady(event) {
        event.target.playVideo();
        }

        // 5. The API calls this function when the player's state changes.
        //    The function indicates that when playing a video (state=1),
        //    the player should play for six seconds and then stop.
        var done = false;
        function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
            setTimeout(stopVideo, 6000);
            done = true;
        }
        }
        function stopVideo() {
        player.stopVideo();
        }
    </script>
    <p>The plan for microservice Bot development is to create a microservice which is available at an HTTPS URL which is accessible by the deployed instance of Polyapp. Then you can use the HTTPS Bot, which was created by Polyapp, to call the HTTPS URL at your desired time during the Task.</p>
    <p>The easiest way to create the microservice is to use Polyapp's "Microservice Bot Generator" Task. This Task takes a "Target Task" and generates a bot which interacts with that Target Task. It is available <a href="https://polyapp-public.appspot.com/polyappChangeData?industry=polyapp&domain=Bot&task=yfQCdSqMPefHAFAgMBfmTbGRE&schema=jFEeCOwJhetWvAWeLgjiUGKzM&ux=cQUrnWzisOBSrWJWeDkRzgqOU&data=new">here on the Public Instance</a> and at this relative URL: <code>/polyappChangeData?industry=polyapp&domain=Bot&task=yfQCdSqMPefHAFAgMBfmTbGRE&schema=jFEeCOwJhetWvAWeLgjiUGKzM&ux=cQUrnWzisOBSrWJWeDkRzgqOU&data=new</code></p>
    <p>Given the Task ID and Schema ID of the Task for which you intend to make this Bot, when you click "Done", it will redirect you to view some starter code. You will then be redirected to a text file which contains several distinct blocks of text - each of which is supposed to be its own file. You will need to copy and paste each of these blocks of text into their own file in a directory of your choosing. The generated code, documentation, and supporting files assume the following:</p>
    <ol>
        <li>You will be using Go to write your microservice</li>
        <li>You will be deploying your code into a Docker container</li>
        <li>The Docker container will run as a service in Google Cloud's "Cloud Run" environment</li>
    </ol>
    <p>To help you get started with this microservice, the generated code includes a README which walks you through running your microservice, testing it, deploying it, and integrating it with an instance.</p>

    <h2>Deployed Example</h2>
    <p>JSON2APP is an example of a microservice Bot: <a href="https://gitlab.com/polyapp-open-source/JSON2App">JSON2App</a>. This service receives the request, unmarshals it into the correct data structures, performs some work, and then creates a response and marshals it into the output data structure before replying to the request.</p>
</div>
