<div class="container">
    <h1>References</h1>
    <p>In Polyapp, a Reference is a way to associate Tasks with each other. References are vital to linking your data together and avoid copying your work between different places.</p>
    <p>There are several kinds of references</p>
    <ul>
        <li>Dependent singleton subtasks</li>
        <li>Dependent lists of subtasks</li>
        <li>Independent referenced tasks</li>
        <li>Independent lists of referenced tasks</li>
        <li>Coupled independent referenced tasks</li>
        <li>Coupled independent lists of referenced tasks</li>
    </ul>
    <p>Let's look at each one of these types of references in turn.</p>
    <h2>Dependent singleton subtasks</h2>
    <h2>Dependent lists of subtasks</h2>
    <h2>Independent referenced tasks</h2>
    <h2>Independent lists of referenced tasks</h2>
    <h2>Coupled independent referenced tasks</h2>
    <h2>Coupled independent lists of referenced tasks</h2>
</div>
