
    <div class="container">
        <h1>Transferring Between Instances</h1>
        <p>Transferring Data and Tasks between instances is as easy as exporting the data and Tasks from the source instance and then import them into your destination.</p>

        <h2>Permissions</h2>
        <p>You will need access to polyapp / Export and access to the Data and Tasks you will be exporting. Importing large amounts of data in many Domains or Tasks is best done by an admin.</p>

        <h2>Considerations</h2>
        <p>If you want to overwrite any existing data in the destination, you must take care to check the "Overwrite Existing Data" checkbox in the Import Tasks.</p>

        <h2>Export Data</h2>
        <p>You can export data from the "Export Data" task located at "polyapp / Export / Export Data". <a href="https://polyapp-public.appspot.com/polyappChangeData?industry=polyapp&domain=Export&task=fKgfaVERIycoCdJoaXmhDTSYr&ux=ZHrpqruzyePaJZLMXbGqiNNzg&schema=uGhKgwWImpQhdXIPssYLfuxaO">Polyapp Public link</a>. Relative link: <code>/polyappChangeData?industry=polyapp&domain=Export&task=fKgfaVERIycoCdJoaXmhDTSYr&ux=ZHrpqruzyePaJZLMXbGqiNNzg&schema=uGhKgwWImpQhdXIPssYLfuxaO</code></p>
        <ol>
            <li>It is recommended to create a new Data for every Export, so from the "Change Data" page click "Create".</li>
            <li>Select the Schema ID you wish to export. You can only export one Schema ID at a time.</li>
            <li>Select the JSON export format if you are importing this Data into another Polyapp instance.</li>
            <li>Do not remove metadata if you are importing this Data into another Polyapp instance.</li>
            <li>Click Done.</li>
            <li>You will be brought to a new page. In a perfect world you could download this file to your computer. In the real world, your computer may complain about security if you do so. Copy all of the text on this page using <code>Ctrl + A</code> then <code>Ctrl + C</code> (<code>Cmd + A</code> then <code>Cmd + C</code> on Mac).</li>
            <li>Open a text editor on your desktop (Notepad on Windows; TextEdit on Mac).</li>
            <li>Paste the copied text <code>Ctrl + P</code> (<code>Cmd + P</code> on Mac).</li>
            <li>Save this file as "export.json"</li>
        </ol>

        <h2>Export Tasks</h2>
        <p>You can export Tasks from the "Export App" task located at "polyapp / Export / Export App". <a href="https://polyapp-public.appspot.com/polyappChangeData?industry=polyapp&domain=Export&task=NQCKyqbabPMBXNckFonFplZUp&ux=RoAOiUGVCjOxMxROyWWKSspWQ&schema=SChIkAEEgocnLkfLkmQKTfRdh">Polyapp Public link</a>. Relative link: <code>/polyappChangeData?industry=polyapp&domain=Export&task=NQCKyqbabPMBXNckFonFplZUp&ux=RoAOiUGVCjOxMxROyWWKSspWQ&schema=SChIkAEEgocnLkfLkmQKTfRdh</code></p>
        <p>Exporting an App exports the Data which is used to create a Task, not the underlying Task objects. This is to improve portability between different versions of Polyapp, which can build Tasks differently.</p>
        <p>Exporting an App also lets you specify individual Data IDs to export. Specifying Data IDs is not required.</p>
        <ol>
            <li>It is recommended to create a new Data for every Export, so from the "Change Data" page click "Create".</li>
            <li>Enter the Task IDs of the Tasks you wish to export. Task IDs may be selectable by their names; otherwise you can find the Task ID in the URL of a Task when it is open.</li>
            <li>Click Done.</li>
            <li>You will be brought to a new page. In a perfect world you could download this file to your computer. In the real world, your computer may complain about security if you do so. Copy all of the text on this page using <code>Ctrl + A</code> then <code>Ctrl + C</code> (<code>Cmd + A</code> then <code>Cmd + C</code> on Mac).</li>
            <li>Open a text editor on your desktop (Notepad on Windows; TextEdit on Mac).</li>
            <li>Paste the copied text <code>Ctrl + P</code> (<code>Cmd + P</code> on Mac).</li>
            <li>Save this file as "export.json"</li>
        </ol>

        <h2>Importing Data</h2>
        <p>There are two cases when importing Data. Either you have data in your system whose Schema matches this Data, or this is the first Data imported into the system which matches this Schema. If it is a new Schema (you are importing Data unlike other Data which already exists in this instance) you must use the "Import Data for a New Schema" directions. Otherwise, use the "Import Data into an Existing Schema" directions.</p>

        <h3>Import Data for a New Schema</h3>
        <p>You can import data from the "Import Data and Create Task" Task located at "polyapp / Import / Import Data and Create Task". <a href="https://polyapp-public.appspot.com/polyappChangeData?industry=polyapp&domain=Import&task=pfZwOtZRIPvIcKcfPGYtVahFJ&ux=pXfWQhvmQUbDpAvPvcHaYxGiE&schema=GpHQudsjtVMmyLgurwuIJUMcY">Polyapp Public link</a>. Relative link: <code>/polyappChangeData?industry=polyapp&domain=Import&task=pfZwOtZRIPvIcKcfPGYtVahFJ&ux=pXfWQhvmQUbDpAvPvcHaYxGiE&schema=GpHQudsjtVMmyLgurwuIJUMcY</code></p>
        <ol>
            <li>It is recommended to create a new Data for every Import, so from the "Change Data" page click "Create".</li>
            <li>Importing Data requires you to specify the imported Industry and Domain. If the file was exported from Polyapp, you must use the same Industry and Domain which were used when the file was exported unless you exported the file to JSON with no prefix.</li>
            <li>Data Format is JSON (probably).</li>
            <li>Select the file you wish to import. You can only import on file at a time.</li>
            <li>Select the JSON import format.</li>
            <li>Click Done.</li>
            <li>You will be brought back to this page if the import was successful. If the import was successful, you will see a list of all Data IDs which were imported under "Imported Data IDs".</li>
        </ol>

        <h3>Import Data into an Existing Schema</h3>
        <p>You can import data from the "Import Data" task located at "polyapp / Import / Import Data". <a href="https://polyapp-public.appspot.com/polyappChangeData?industry=polyapp&domain=Import&task=NmWRIUMwmZsZTPkqtBiacDVjE&ux=kgGbDPiPAmGvJawTgbfjyXzUS&schema=FLDIivYCRvcKHvSJkPQMMVwTy">Polyapp Public link</a>. Relative link: <code>/polyappChangeData?industry=polyapp&domain=Import&task=NmWRIUMwmZsZTPkqtBiacDVjE&ux=kgGbDPiPAmGvJawTgbfjyXzUS&schema=FLDIivYCRvcKHvSJkPQMMVwTy</code></p>
        <ol>
            <li>It is recommended to create a new Data for every Import, so from the "Change Data" page click "Create".</li>
            <li>Data Format is JSON (probably).</li>
            <li>Select the file you wish to import. You can only import on file at a time.</li>
            <li>You must specify an existing Schema ID to import. If you do not have an existing Schema, you should be following the directions under "Import Data for a New Schema".</li>
            <li>Select the JSON import format.</li>
            <li>Click Done.</li>
            <li>You will be brought back to this page if the import was successful. If the import was successful, you will see a list of all Data IDs which were imported under "Imported Data IDs".</li>
        </ol>

        <h2 id="import-tasks">Import Tasks</h2>
        <p>You can import Tasks via the "Import App" Task located at "polyapp / Import / Import App". <a href="https://polyapp-public.appspot.com/polyappChangeData?industry=polyapp&domain=Import&task=ZawOEQxDxpMkuPLvDjPaFzKeN&ux=PTJNTfiqzPskDXtfkXeutfSxr&schema=mbwGVwGevBqIjneLlrwTrPkXv">Polyapp Public link</a>. Relative link: <code>/polyappChangeData?industry=polyapp&domain=Import&task=ZawOEQxDxpMkuPLvDjPaFzKeN&ux=PTJNTfiqzPskDXtfkXeutfSxr&schema=mbwGVwGevBqIjneLlrwTrPkXv</code></p>
        <ol>
            <li>It is recommended to create a new Data for every Import, so from the "Change Data" page click "Create".</li>
            <li>If you trust the source instance and you wish to overwrite your own Data, you can check "Overwrite Existing Data".</li>
            <li>Select the file you wish to import. You can only import on file at a time.</li>
            <li>Click Done.</li>
            <li>You will be brought back to this page if the import was successful. If the import was successful, you will see a list of all Data IDs which were imported under "Imported Data IDs". If the import was successful, the imported Data IDs will have been used to create new Tasks which had the same name, descriptions, etc. of the imported Tasks.</li>
        </ol>

    </div>
