{{ define "footer" }}
{{/* Inputs: */}}
<footer class="py-5 mt-5 bg-light">
    <div class="container py-2">
        <div class="row">
            <div class="col">
                <p>Designed and built by Gregory Ledray.</p>
                <p>Code is <a href="https://gitlab.com/polyapp-open-source/polyapp/-/blob/master/LICENSE">MIT licensed</a>.</p>
                <p>This website and the documentation is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a></p>
            </div>
            <div class="col">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="https://polyapp.tech/">Polyapp's website</a></li>
                    <li class="mb-2"><a href="https://gitlab.com/polyapp-open-source/polyapp">Polyapp's Gitlab repository</a></li>
                    <li class="mb-2"><a href="https://gitlab.com/polyapp-open-source/polyapp-docs/">Polyapp's Documentation Repository</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{{ end }}
