{{ define "head" -}}
{{/* Inputs: .Title, .Description */ -}}
<!DOCTYPE html>
<head>
    <title>{{.Title}}</title>
    <meta charset="utf-8" />
    <meta content="{{.Description}}" name="description" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" />
    <link rel="apple-touch-icon" href="/polyapp-docs/assets/giraffe192.jpg">
    <link rel="shortcut icon" href="/polyapp-docs/assets/giraffe192.jpg">
</head>
{{ end }}
