{{ define "main" }}
{{/* Input: .Head (head) .Body (string) .Footer (string) */}}
{{ template "head" .Head }}
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/polyapp-docs/">Polyapp Docs</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/polyapp-docs/capabilities.html">System Capabilities</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/polyapp-docs/fundamentals.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Fundamentals
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/polyapp-docs/fundamentals/tasks.html">Tasks</a></li>
                        <li><a class="dropdown-item" href="/polyapp-docs/fundamentals/reporting.html">Reporting</a></li>
                        <li><a class="dropdown-item" href="/polyapp-docs/fundamentals/dashboard.html">Dashboards</a></li>
                        <li><a class="dropdown-item" href="/polyapp-docs/fundamentals/personalization.html">Personalization</a></li>
                        <!-- <li><a class="dropdown-item" href="/polyapp-docs/fundamentals/dashboard.html">Surveys</a></li> -->
                        <li><a class="dropdown-item" href="/polyapp-docs/fundamentals/bots.html">Bots</a></li>
                        <li><a class="dropdown-item" href="/polyapp-docs/fundamentals/import.html">Importing</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/polyapp-docs/advanced.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Advanced
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <!-- <li><a class="dropdown-item" href="/polyapp-docs/advanced/references.html">References</a></li> -->
                        <li><a class="dropdown-item" href="/polyapp-docs/advanced/json2app.html">JSON 2 App</a></li>
                        <li><a class="dropdown-item" href="/polyapp-docs/advanced/APIintegration.html">API Integration</a></li>
                        <li><a class="dropdown-item" href="/polyapp-docs/advanced/transferring.html">Transferring Information Between Instances</a></li>
                        <li><a class="dropdown-item" href="/polyapp-docs/advanced/MicroserviceBotDevelopment.html">Microservice Bot Development</a></li>
                        <li><a class="dropdown-item" href="/polyapp-docs/advanced/development.html">Core Polyapp Development</a></li>
                        <li><a class="dropdown-item" href="https://pkg.go.dev/gitlab.com/polyapp-open-source/polyapp">GoDoc for Polyapp</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/polyapp-docs/system-administration/get-started.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        System Administration
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/polyapp-docs/system-administration/get-started.html">Get Started</a></li>
                        <li><a class="dropdown-item" href="/polyapp-docs/system-administration/deployment.html">Deployment</a></li>
                        <li><a class="dropdown-item" href="/polyapp-docs/system-administration/users.html">Users</a></li>
                        <li><a class="dropdown-item" href="/polyapp-docs/system-administration/roles.html">Roles</a></li>
                        <li><a class="dropdown-item" href="/polyapp-docs/system-administration/troubleshooting.html">Troubleshooting</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{{ .Body }}
</body>
{{ template "footer" .Footer }}
{{ end }}
